# Ignorar dependencias y archivos de desarrollo
node_modules/
*.log
*.ts
*.md
.vscode/
.idea/
.DS_Store

# Ignorar tests y scripts de desarrollo que no se usan en postinstall
tests/
__tests__/
*.spec.js
*.test.js

# Ignorar configuraciones de CI/CD y scripts internos
.gitignore
.npmignore
.github/
.circleci/
docker-compose.yml

# Ignorar carpetas de build locales (si las hay)
dist/
build/

# Ignorar Husky, ya que se configura en el proyecto que instala el paquete
.husky/
